@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   
    background: rgb(249 168 212);
    background: linear-gradient(180deg,   rgb(249 168 212) 0%,   rgb(249 168 212)15%, rgb(255, 233, 233)15%,  rgb(255, 233, 233) 130%);
    background-repeat: no-repeat;

    }


